Options +FollowSymLinks
RewriteEngine On


RewriteRule ^index index.php
RewriteRule ^usuario usuario.php
RewriteRule ^cuenta cuenta.php
RewriteRule ^addEvento addEvento.php
RewriteRule ^permisos permisos.php
RewriteRule ^comentarios/([0-9]+)$ comentarios.php?idCom=$1
RewriteRule ^editEvento/([0-9]+)$ editEvento.php?ev=$1
RewriteRule ^eventos/([0-9]+)$ eventos.php?ev=$1
RewriteRule ^eventos/([0-9]+)/([a-zA-Z]+)$ eventos.php?ev=$1&resaltada=$2
RewriteRule ^imprimir/([0-9]+)$ imprimir.php?ev=$1