
<html>
	<!--Head-->
		<head>
            {% block head %}
			<title>The Avengers Initiative</title>
            {% block estilo %}
			<link rel="stylesheet" href="/styles/portada.css" />
            {% endblock %}
			<link rel="icon" href="/imgs/logo.jpg">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
            {% endblock %}
		</head>

		<body class= "cuerpo">
<!--------------Cabecera--------------->
				<header class="borde">
					{% block cabecera %}
					{% block logo %}
					<h1><img class="logo" src="/imgs/logo.jpg" alt="logo"/><span>The Avengers Initiative</span></h1>
					{% endblock %}
					<ul class="opciones">
							<li><a href="/index">Home</a></li>
							<li><a href="https://www.marveluniverselive.com/es-pr/contacto">Contacto</a></li>
							{% if not user %}
							<li><a href="/usuario"><img class="login" src="/imgs/login.jpg" alt="log"/></a></li>
							{% else %}
								<li><a href="/cuenta">Cuenta</a></li>
								{% if user.tipo == 0 %}
									<li><a href="/logout.php"><img class="login" src="/imgs/exit.jpg" alt="log"/></a>(Normal)</li>
								{% elseif user.tipo == 1 %}
									<li><a href="/logout.php"><img class="login" src="/imgs/exit.jpg" alt="log"/></a>(Moderador)</li>
								{% elseif user.tipo == 2  %}
									<li><a href="/addEvento">Añadir Evento</a></li>
									<li><a href="/logout.php"><img class="login" src="/imgs/exit.jpg" alt="log"/></a>(Gestor)</li>
								{% elseif user.tipo == 3 %}
									<li><a href="/addEvento">Añadir Evento</a></li>
									<li><a href="/permisos">Permisos</a></li>
									<li><a href="/logout.php"><img class="login" src="/imgs/exit.jpg" alt="log"/></a>(Superusuario)</li>
								{% endif %}
							{% endif %}
					</ul>
                    {% endblock %}
				</header>
<!--------------Elementos Auxiliares--------------->
				<aside class="borde auxiliar">
                    {% block auxiliar %}
					<p><span>Últimas noticias</span></p>
					{% for news in noticias %}
					<p>- {{ news }}</p>
					{% endfor %}
                    {% endblock %}
				</aside>
				

<!--------------Cuerpo principal Eventos--------------->
                {% block eventos %}
				<section class="borde events">
					{% for img in imgs %}
					<figure>
						<a href="eventos/{{ img['id_ref'] }}"><img src="/{{ img['img'] }}"></a>
						<figcaption>{{ img['texto'] }}</figcaption>
					</figure>
					{% endfor %}
                {% endblock %}
				</section>					

<!--------------Pie de pagina--------------->
                {% block pie %}
				<footer class="borde pie">
					<p>© All Rights Reserved - Raúl Castro Moreno - 2021</p>
				</footer>
                {% endblock %}
			
		</body>
</html>
