{% extends "padre.html" %}

{% block estilo %}
    <link rel="stylesheet" href="/styles/permisos.css"/>
{% endblock %}

{% block eventos %}
    <section class="borde permisos">
        <div class="inf">
            <h1>Usuario Seleccionado</h1>
            {% if userSel %}
            <p class="pers"><span>Nickname:</span> {{ userSel.nick }}</p>
            <p class="pers"><span>Nombre Completo:</span> {{ userSel.nombre }}</p>
            <p  class="pers"><span>E-Mail:</span> {{ userSel.email }}</p>
            {% if userSel.tipo == 0 %}
                <p class="pers"><span>Tipo de Privilegios: </span>Normal</p>
            {% elseif userSel.tipo == 1 %}
                <p class="pers"><span>Tipo de Privilegios: </span>Moderador</p>
            {% elseif userSel.tipo == 2 %}
                <p class="pers"><span>Tipo de Privilegios: </span>Gestor</p>
            {% elseif userSel.tipo == 3 %}
                <p class="pers"><span>Tipo de Privilegios: </span>Superusuario</p>
            {% endif %}
            {% endif %}
        </div>
        <div class="inf">
            <form action="" method="post" id="cambiarPriv">
                <input type="submit" name="normalButton" value="Dar Privilegio Normal">
                <input type="submit" name="moderButton" value="Dar Privilegio Moderador">
                <input type="submit" name="gestButton" value="Dar Privilegio Gestor">
                <input type="submit" name="superButton" value="Dar Privilegio Superusuario">
            </form>
        </div>
        <div class="inf">
            <h1>Lista de todos los usuarios</h1>
            <div id="lista">
            {% for i,us in usuarios %}
                <p class="usu"> {{ us.nick }} , {{ us.nombre }}, {{ us.email }}</p>
                <div class="alin">
                    {% if us.tipo == 0 %}
                    <p class="usu1">Permisos: Normal</p>
                    {% elseif us.tipo == 1 %}
                    <p class="usu1">Permisos: Moderador</p>
                    {% elseif us.tipo == 2 %}
                    <p class="usu1">Permisos: Gestor</p>
                    {% elseif us.tipo == 3 %}
                    <p class="usu1">Permisos: Superusuario</p>
                    {% endif %}
                    <form action="" method="post" id="editDelete">
                        <button type="submit" name="selectButton{{i}}"><img class="edicion" src="/imgs/select.jpg"></button>
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
    {% for er in errores %}	
        <p class="error">{{ er }}</p>
    {% endfor %}
{% endblock %}