/*--General--*/
.cuerpo{
    background-color: black;
    color: white;
}

.borde{
    margin: 20px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

/*--Cabecera--*/
.logo{
    width: 3em;
    vertical-align:-100%;
}

.login{
    width: 3em;
    vertical-align:-100%;
}

.login:hover{
    filter: brightness(50%);
}

h1 span{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li{
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.opciones a:active , a:visited ,a:link{
    color: white;
    text-decoration: none;
}

.opciones a:hover{
    filter: brightness(50%);
}

li:hover{
    color: white;
}

/*--Elementos Auxiliares--*/
.auxiliar{
    display: none;
}


/*--Bloque inicio y registro--*/
.permisos{
    text-align: justify;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inf{
    width: 30%;
}

#cambiarPriv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.usu{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.usu1{
    font-family: 'Roboto', sans-serif;
    filter: brightness(50%);
    text-align: center;
}

.alin{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

#lista{
    overflow: auto;
    height: 70%;
}


/*--Formulario Inicio sesion--*/
h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

input{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 30px;
}

input:hover{
    filter: brightness(50%);
}


.datos{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.imagenes{
    width: 30%;
    flex-direction: column;
}

.imgs{
    color: white;
    width: 100%;
}

.pers {
    font-family: 'Roboto', sans-serif;
}

.pers span {
    filter: brightness(50%);
}

button{
    background-color: black;
    color: white;
    border: none;
}

.edicion{
    width: 1.5em;
    background-color: black;
}

.edicion:hover{
    filter: brightness(50%);
}


.error{
    color: red;
}


/*--Pie de página--*/
.pie{
    clear:both;
    padding: 0px;
}