{% extends "padre.html" %}

{% block head %}
    {{ parent() }}
    {% block estilo %}
        <link rel="stylesheet" href="/styles/comentarios.css"/>
    {% endblock %}
    <script src="/templates/comentarios.js"></script>
{% endblock %}


{% block eventos %}
    <section class="borde comentarios">
    <div id=info>
        <h1>Comentario a editar</h1>
        {% if com %}
        <p class="nf">{{ com['nombre'] }} comentó el {{ com['fecha'] }} a las {{ com['hora'] }}
        <p class="txtcom">{{ com['comentario'] }}</p>
        {% if com['editado'] == true %}
				<p class="editado">Mensaje editado por el Moderador</p>
		{% endif %}
        {% endif %}
    </div>

    <div id="edit">
        <h1>Modificar Datos</h1>
        <form action="" name="myForm" method="post">
            <textarea type="text" name="editText" id="fcom" placeholder="Comentario..." onkeyup="filtroPalabras()"></textarea><br><br>
            <input type="submit" name="editarButton" value="Editar" onclick="validateForm()">
        </form>
    </div>

    <div id="list">
        <h1>Lista de todos los comentarios</h1>
        <div id="lista">
        {% for coms in comentarios %}
			<p class="nf">{{ coms['nombre'] }} comentó el {{ coms['fecha'] }} a las {{ coms['hora'] }}  <a href="/comentarios/{{ coms['id'] }}"><img class="edicion" src="/imgs/lapiz.jpg" alt="editar"/></a> <a href="/borrarComentario.php?idCom={{ coms['id'] }}"><img class="edicion" src="/imgs/borrar.jpg" alt="editar"/></a></p>
			<p class="txtcom">{{ coms['comentario'] }}</p>
			{% if coms['editado'] == true %}
				<p class="editado">Mensaje editado por el Moderador</p>
			{% endif %}
		{% endfor %}
        </div>
    </div>
    {% for er in errores %}	
        <p class="error">{{ er }}</p>
    {% endfor %}						
{% endblock %}